.collapse {
  border: 1px solid #f56a6a;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 30px;
  margin-left: 100px;
  margin-right: 100px;
}
.collapse-button {
  background-color: #f56a6a;
  color: white;
  border: none;
  padding: 10px;
  text-align: left;
  width: 100%;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.collapse-content {
  max-height: 0;
  overflow: hidden;
  background: #fafafa;
  transition: max-height 0.7s ease-in-out, padding 0.7s ease-in-out;
  padding: 0 10px; /* Ajoutez du padding horizontal ici */
}

/* Classe ajoutée pour l'ouverture du contenu */
.collapse-content.open {
  max-height: 500px; /* Ajustez cette valeur selon la taille de votre contenu */
  padding: 10px; /* Ajoutez du padding complet ici */
}

.arrow {
  border: solid white;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 5px;
  transition: transform 0.5s;
}

.arrow.down {
  transform: rotate(45deg);
}

.arrow.up {
  transform: rotate(-135deg);
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}