.footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    position: relative; 
    height: 200px;
    align-items: center;
    justify-content: center;
    padding: 50px;
    font-family: 'Montserrat', sans-serif;
     p {
      font-size: 2em;
    }
  }

  @media (max-width: 1024px) {
    .footer {
      p {
        font-size: 1.2em;
        
      }
    }
    
  }
  