.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 100px;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    font-family: 'Montserrat', sans-serif; 

    img {
      width: 200px;
      height: auto;
    }

    nav {
      a {
        margin: 0 30px;
        text-decoration: none;
        font-size: 1.5rem;
        color: black;
        font-weight: 500;
        transition: color 0.3s;
  
        &.active {
          text-decoration: underline;
          color: black; 
        }
  
        &:hover {
          color: #ff6b6b;
        }
      }
    }
  }

  @media (max-width: 1024px) {
    .header {
      height: 50%;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 10px;
  
      img {
        width: 180px;
        height: auto;
      }
    }
  
    .header nav a {
      margin-right: 0;
      text-transform: uppercase;
      font-size: 1em !important;
    }
  }

  @media (max-width: 480px) {
    .header {
  
      img {
        width: 120px;
        height: auto;
      }
    }
  
    .header nav a {
      margin-right: 0;
      text-transform: uppercase;
      font-size: 0.7em !important;
    }
  }