.property-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 80px;
    padding: 100px;
    justify-content: center;
    align-items: center;
    padding-left: 150px;
    padding-right: 150px;
  }

#root {
  padding: 20px;
} 
