.not-found-content {
    text-align: center;
    padding: 50px;
    color: #ff6b6b;
    font-family: 'Montserrat', sans-serif;
    
    h1 {
      font-size: 150px;
      margin-bottom: 90px;  
    }

    p {
      font-size: 20px;
      margin-bottom: 100px;
    }

    a {
      color: black;
      font-size: 14px;
    }

    a:hover {
      color:#ff6b6b;
    }
  }
  

  

  
