.not-found-content {
    text-align: center;
    padding: 50px;
    color: #ff6b6b;
    font-family: 'Montserrat', sans-serif;
    
    h1 {
      font-size: 150px;
      margin-bottom: 90px;  
    }

    p {
      font-size: 20px;
      margin-bottom: 100px;
    }

    a {
      color: black;
      font-size: 14px;
    }

    a:hover {
      color:#ff6b6b;
    }
  }
  
@media (max-width: 1024px) {
  .not-found-content {
    color: #ff6b6b;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 30px;

    h1 {
      font-size: 100px;
      margin: 0; 
      margin-bottom: 30px;
    }

    p {
      font-size: 15px;
      margin-top: 20px;
      margin-bottom: 80px;
    }

    a {
      color: black;
      font-size: 12px;
    }

    a:hover {
      color:#ff6b6b;
    }
  }
}
  

  
