.property-page {

  .property-details {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin:0;
    padding: 50px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

    h1 {
      font-size: 2.5em;
      color: #FF6060;
      margin: 0;
      font-weight: 400;
      margin-top: 9px;
    }

    p {
      font-size: 1.2em;
      color: #454545;
      margin-top: 5px;
    }

    .property-infos {
      display: flex;
      flex-direction: column;
      width: 50%;
      justify-content: space-between;
      

      .property-title {
        display: flex;
        flex-direction: column;
      }

      .tags {
        display: flex;
        gap: 10px;
        margin-bottom: 20px;
      }
      
    }

    .property-subinfo {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      width: 50%;

      .property-host {
        display: flex;
        margin-bottom: 10px;
      }
    }
  }

  .collapses {
    display: flex;
    gap: 80px; 
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 30px;
    .collapse {
      flex: 1; 

    }

    .collapse-button {
      background-color: #FF6060;
      color: white;
    }
    
  }
}

@media (max-width:1024px) {

  .property-page {
      .property-details {
        padding: 10px;
        flex-direction: column;

        h1 {
          font-size : 2em;
        }

        p {
          font-size: 1em;
          font-weight: 600;
        }

        .property-infos {
          
          align-items: flex-start;
          width: 100%;
        }
        .property-subinfo {
          width: 100%;
          flex-direction:row-reverse;
          justify-content: space-between;
          align-items: center;
        }
      }

      .collapses {
        flex-direction: column;
        gap: 10px !important;
        margin: 0;
        padding: 10px;
      }
    
  }
}