main {
  margin-bottom: -20px;
}

.property-page {
  margin-top: 20px;
  margin-bottom: 20px;

  .property-details {
    display: flex;
    flex-direction: row;
    margin:0;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

    h1 {
      font-size: 2rem;
      color: #FF6060;
      margin: 0;
      font-weight: 400;
      margin-top: 9px;
      width: max-content;
      box-sizing: border-box;
    }

    p {
      font-size: 1.2em;
      color: #454545;
      margin-top: 5px;
    }

    .property-infos {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      

      .property-title {
        display: flex;
        flex-direction: column;
      }

      .tags {
        display: flex;
        gap: 10px;
        margin-bottom: 20px;
      }
      
    }

    .property-subinfo {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      width: 100%;

      .property-host {
        display: flex;
        margin-bottom: 10px;
        margin-top: 10px;
      }
    }
  }

  .collapses {
    display: flex;
    gap: 80px; 
    padding-left: 50px;
    padding-right: 50px;
    
    .collapse {
      flex: 1; 
      border-radius: 10px;

    }

    .collapse-button {
      background-color: #FF6060;
      color: white;
    }
    
    .collapse ul {
      list-style-type: none;
      padding: 0;
    }
  }
}

@media (max-width:1200px) {

  .property-page {
      .property-details {
        padding: 10px;
        flex-direction: column;

        h1 {
          font-size : 2em;
          width: 100% !important;
        }

        p {
          font-size: 1em;
          font-weight: 600;
        }

        .property-infos {
          
          align-items: flex-start;
          width: 100%;
        }
        .property-subinfo {
          width: 100%;
          flex-direction:row-reverse;
          justify-content: space-between;
          align-items: center;
        }
      }

      .collapses {
        flex-direction: column;
        gap: 10px !important;
        margin: 0;
        padding: 10px;
      }
    
  }
}

@media (max-width: 480px) {
  .property-page {
    .property-details {
      margin-top: 0;
      margin: 0;

      h1 {
        font-size : 1.2em;
        width: 100% !important;
        margin-top: 0px;
      }

      p {
        font-size: 0.8em;
      }
    }

    .property-subinfo {
      margin-top: -25px;
      margin-bottom: -25px;
    }

    .collapses {
      gap: 0px !important;
      padding-left: 10px;
      padding-right: 10px;
    }
}
}