.rating {
    display: flex;
    font-size: 3rem;
  
  
    .filled-star {
      color: #ff6b6b;
    }
    
    .empty-star {
      color: #ddd;
    }
}

@media (max-width: 1024px)
 {
  .rating {
    font-size: 1.8rem;
  }
}

@media (max-width: 480px)  {
  .rating {
    font-size: 1.5rem;
  }
}