.tag {
    background-color: #ff6b6b;
    color: white;
    padding: 0px 20px;
    height: 1.8em;
    border-radius: 10px;
    font-size: 0.8em;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    margin-right: 10px;
  }